/** general shared styles */

.spinner {
  animation-name: spinner;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* after http://codepen.io/tjvantoll/pen/JEKIu */
.table-fixed-header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-fixed-header td, .table-fixed-header th {
  overflow: hidden;
  display: inline-block;
}

.table-fixed-header thead {
  display: block;
}

.table-fixed-header tbody {
  overflow: auto;
  display: block;
}

.navbar {
  font-size: 14pt; vertical-align: bottom;
}

.navbar-text {
  margin-top: 12px;
}
